<?page title="Input Penjualan" id="pageInputPenjualan"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">
    <window title="input penjualan" width="800px" height="600px"
            apply="org.jote.listinput.controller.PenjualanInputController"
            border="1">
        <vlayout>
            <hlayout>
                <button label="+1" id="btnAdd"/>
                <button label="F5" id="btnRefresh"/>
                <button label="index"  onClick="Executions.sendRedirect(&quot;index.zul&quot;)"/>
                <button label="penjualan"  onClick="Executions.sendRedirect(&quot;input_barang.zul&quot;)"/>
            </hlayout>
            <listbox hflex="1" id="lstPenjualan">
                <listhead>
                    <listheader label="No" hflex="1"/>
                    <listheader label="Kode" hflex="5"/>
                    <listheader label="Barang" hflex="8"/>
                    <listheader label="Qty" hflex="5" align="right"/>
                    <listheader label="Harga" hflex="5" align="right"/>
                    <listheader label="Total" hflex="5" align="right"/>
                    <listheader label="Action" hflex="3"/>
                </listhead>
                <listitem>

                </listitem>
            </listbox>
        </vlayout>
    </window>
</zk>